Starting of basics and fundamentals of python
keyword
syntax
Error/syntax
Debugging

In [ ]:
print('sairam')
print('sai')
print ("ram")

sairam
sai
ram

In [ ]:
if 5 > 2 :
  print ('five is greater than two!')

five is greater than two!

In [ ]:
first = ("phurba")
second = ("tamang")
first + second

'phurbatamang'

In [ ]:
i = float(input('I = '))
r = int(input('R = '))
P = (100*r) / (i*1)
print(P)

I = 34
R = 23
67.6470588235294

In [ ]:
2 * 3 + 9 / 5

7.8

In [ ]:
0 > 1

False

In [ ]:
0 < 1

True

In [ ]:
# And operator - only TRUE and TRUE will become TRUE; all others are  false
# OR Operator - only False and False will become false; all others are true
A = False
B = True
A and B

False

In [ ]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [ ]:
if 9 > 10 :
  print("the first number is greater than the second one")
else :
    print("the second number is greater than the first one")

the second number is greater than the first one

In [ ]:
if (1 > 0) :
  print(1+1)

2

In [ ]:
x = 90
if x < 40 :
  print("fail")
if x >= 40 and x < 80 :
   print("B grade")
else :
    print("A grade")

A grade

In [ ]:
# Find out an area of a triangle whose base is 15 meter and height is 22 meter. The mathematical equation for an area of a triangle is: Area = Â½*Base*Height
b = 15
h = 22
area = 1/2*b*h
area

165.0

Create a string variable to store this text "Earth revolves around the sun", (a) Print substring ârevolvesâ (b) Print substring âsunâ using negative index

In [ ]:
S ='Earth revolves around the sun'
#a
S[6:13]

'revolve'

In [ ]:
S ="Earth revolves around the sun "
#b
S[-4:-1]

'sun'

(3) Create three string variables with values âI love eatingâ, âveggiesâ, âfruitsâ (a) Print âI love eating veggies and fruitsâ (Hint: Use + operator) (b) Create fourth variable to store number of fruits you eat everyday. Say for example you eat 2 fruits everyday, in that case print âI love eating 2 fruits everydayâ

In [ ]:
a ="i love eating"
b =" veggies"
c =" and fruits"
print(a + b + c)

i love eating veggies and fruits

In [ ]:
a ="i love eating"
b =" veggies"
c =" fruits"
d =" 4"
print(a + d + c )

i love eating 4 fruits

In [ ]:
year = int(input("enter a year"))
if (year % 100 == 0) and (year % 400 == 0):
  print("year is a leap year")
elif (year % 4 == 0):
  print("year is a leap year")
elif (year % 4 != 0) or (year % 400 != 0):
  print("year is not a leap year")

enter a year2017
year is not a leap year

In [ ]:
#exercise 1
Hours = int(input("please enter worrk hours"))
Rate = float(input("please enter rate"))
if Hours > 40:
  pay = (Hours - 40)*Rate*1.5 + 40*Rate
else:
  pay = Hours * Rate
Pay = Hours * Rate
print("Pay: ", pay)

please enter worrk hours60
please enter rate34
Pay:  2380.0

In [ ]:
a=float(input("Enter your score\n"))
if(a<0.0 or a>1.0) :
  print("Score is out of range!!")
elif(a>=0.9):
  print("A")
elif(a>=0.8):
  print("B")
elif(a>=0.7):
  print("C")
elif(a>=0.6):
  print("D")      
else:
  print("F")

In [ ]:
List = [0,"Sai","Ram",3,4,5]
#After :, depicts count and before :, depicts position
List[0:9]
# Goes to every nth element
List[1::4]
#Reverses the string
List [::-1]

[5, 4, 3, 'Ram', 'Sai', 0]

In [ ]:
N = 5
while N > 0:
  print (N)
  N = N -1
print('Blastoff')

5
4
3
2
1
Blastoff

In [ ]:
friends = ['Ram', 'Veda', 'Manav']
for friend in friends:
  print('Happy new year:', friend)
  print("Thankyou")

Happy new year: Ram
Thankyou
Happy new year: Veda
Thankyou
Happy new year: Manav
Thankyou

In [ ]:
price1 = float(input('Enter the 1 price : '))
piece1 = float(input('Enter the 1 box : '))
price2 = float(input('Enter the 2 price : '))
piece2 = float(input('Enter the 2 box : '))

elasticity = (piece2 - piece1) / (price2 - price1)
print(elasticity)
if (elasticity < 1) :
 print("inelasatic")
elif (elasticity > 1) :
 print ("elastc")

In [ ]:
def elast(price1,box1,price2,box2):
  elasticity = (box2 - box1) / (price2 - price1)
  return (elasticity)
  
def scale_elast(elasticity):
  if elasticity == 0 : 
    return 'Perfectly Inelastic'
  elif elasticity < 1 :
    return 'Relatively inelastic'
  elif elasticity == 1 : 
    return 'Unit Elastic'
  elif elasticity > 1 : 
    return 'Relatively Elastic'

price1 = float(input('Enter the prior price : '))
box1 = float(input('Enter the prior box : '))
price2 = float(input('Enter the latter price : '))
box2 = float(input('Enter the latter box : '))

elasticity = elast(price1,box1,price2,box2)
print('Elasticity = ',elasticity)

character = scale_elast(elasticity)
print('Character of product = ', character)

Enter the prior price : 23
Enter the prior box : 34
Enter the latter price : 15
Enter the latter box : 25
Elasticity =  1.125
Character of product =  Relatively Elastic

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [ ]:
i = 1
while i < 15:
  print(i)
  i += 0.5

1
1.5
2.0
2.5
3.0
3.5
4.0
4.5
5.0
5.5
6.0
6.5
7.0
7.5
8.0
8.5
9.0
9.5
10.0
10.5
11.0
11.5
12.0
12.5
13.0
13.5
14.0
14.5

In [ ]:
i = 8
while i < 30:
  print(i)
  i += 3
else:
  print("i is no longer less than 30")

8
11
14
17
20
23
26
29
i is no longer less than 30

In [ ]:
count = 0
while(count<5):
  print('The count is:',count)
  count = count+1
  print ("all done")

The count is: 0
all done
The count is: 1
all done
The count is: 2
all done
The count is: 3
all done
The count is: 4
all done

In [ ]:
for x in "Phurba":
  print(x)

P
h
u
r
b
a

In [ ]:
snacks = ["apple", "banana", "momos", "oats", "choco"]
for menu in snacks:
  print(menu)

apple
banana
momos
oats
choco

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
# Create and populate a 5x2 NumPy array.
my_data = np.array([[0, 3], [10, 7], [20, 9], [30, 14], [40, 15]])

# Create a Python list that holds the names of the two columns.
my_column_names = ['temperature', 'activity']

# Create a DataFrame.
my_dataframe = pd.DataFrame(data=my_data, columns=my_column_names)

# Print the entire DataFrame
print(my_dataframe)

   temperature  activity
0            0         3
1           10         7
2           20         9
3           30        14
4           40        15

In [ ]:
import pandas as pd
from google.colab import files
uploaded = files.upload()
import io
df2 = pd.read_csv(io.BytesIO(uploaded['IBBA_2145xx.xlsx']))
print (df2)

Saving IBBA_2145xx.xlsx to IBBA_2145xx (2).xlsx

UnicodeDecodeError: ignored

In [ ]:
# create and populate 5x3 Numpy array.
# reg no, name, marks, 
my_data = np.array([[1, "A", 90], [2, "B", 85], [3, "C", 89], [4, "D", 82], [5, "E", 84]])
my_Classcol_names = ["Reg no", "Name", "Marks"]

my_class_dataframe = pd.DataFrame(data=my_data, columns=my_Classcol_names)

print(my_class_dataframe)

my_class_dataframe["Marks"].mean()

NameError: ignored

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
#importing the libraries numpy, pandas

In [ ]:
# mount the drive to upload the csv file
from google.colab import drive
drive.mount('/content/drive')
data = pd.read_csv("Shark_Tank_India_S1.csv")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
 data

,episode_number,startup_number,brand_name,description,deal_offered,startup_ask_amount_lakhs,startup_ask_percentage,startup_ask_valuation,deal_amount_lakhs,deal_equity,...,ghazal_invested,namita_present,namita_invested,peyush_present,peyush_invested,vineeta_present,vineeta_invested,sharks_offering,amount_per_shark,equity_per_shark
0,1,1,BluePine Industries,Frozen Momos,1,50.0,5.00,1000.00,75.0,16.00,...,0,1,0,0,0,1,1,3,25.0,5.333333
1,1,2,Booz scooters,Renting e-bike for mobility in private spaces,1,40.0,15.00,266.67,40.0,50.00,...,0,1,0,0,0,1,1,2,20.0,25.000000
2,1,3,Heart up my Sleeves,Detachable Sleeves,1,25.0,10.00,250.00,25.0,30.00,...,0,1,0,0,0,1,1,2,12.5,15.000000
3,2,4,Tagz Foods,Healthy Potato Chips,1,70.0,1.00,7000.00,70.0,2.75,...,0,1,0,0,0,1,0,1,70.0,2.750000
4,2,5,Head and Heart,Brain Development Course,0,50.0,5.00,1000.00,0.0,0.00,...,0,1,0,0,0,1,0,0,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116,35,117,Elcare India,Carenting for Elders,0,100.0,2.50,4000.00,0.0,0.00,...,0,1,0,1,0,1,0,0,0.0,0.000000
117,36,118,Sneakare,Shoe care and storage solutions,1,20.0,5.00,400.00,21.0,12.00,...,0,1,1,1,0,1,1,3,7.0,4.000000
118,36,119,French Crown,Clothing Industry,0,150.0,0.33,45000.00,0.0,0.00,...,0,1,0,1,0,1,0,0,0.0,0.000000
119,36,120,Store My Goods,Storage solutions,1,100.0,1.75,5714.00,100.0,4.00,...,0,1,1,1,1,1,0,2,50.0,2.000000
120,36,121,Devnagri,Translation platform,0,100.0,1.00,10000.00,0.0,0.00,...,0,1,0,1,0,1,0,0,0.0,0.000000